
#content:before {
    content: 'Lingerew Getie/ Gallary 2';
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    position: relative;
    left: 30%;
}
.imgG1 {
    float: right;
    width: 30%;
    margin: 0.6%;
  }